<div class="clr-row">
  <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12 clr-col-12">
    <div class="card">
      <div class="card-header">Langages de programmation</div>

      <table class="table table-noborder">
        <tbody>
        <tr>
          <td>C#</td>
          <td class="skills-level"><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>Javascript</td>
          <td><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>Sql</td>
          <td><clr-progress-bar clrValue="80" clrMax="100"></clr-progress-bar></td>
          <td><b>Expert</b></td>
        </tr>
        <tr>
          <td>TypeScript</td>
          <td><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>Html</td>
          <td><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>Css</td>
          <td><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>Arduino C++</td>
          <td><clr-progress-bar clrValue="80" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>Dart</td>
          <td><clr-progress-bar clrValue="80" clrMax="100"></clr-progress-bar></td>
          <td><b>Expert</b></td>
        </tr>
        <tr>
          <td>Java</td>
          <td><clr-progress-bar clrValue="80" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>Php</td>
          <td><clr-progress-bar clrColor="warning" clrValue="50" clrMax="100"></clr-progress-bar></td>
          <td><b>Connaissance</b></td>
        </tr>
        <tr>
          <td>Python</td>
          <td><clr-progress-bar clrColor="warning" clrValue="50" clrMax="100"></clr-progress-bar></td>
          <td><b>Connaissance</b></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12 clr-col-12">
    <div class="card">
      <div class="card-header">Framework Web</div>

      <table class="table table-noborder">
        <tbody>
        <tr>
          <td>AngularJS</td>
          <td class="skills-level"><clr-progress-bar clrColor="warning" clrValue="50" clrMax="100"></clr-progress-bar></td>
          <td><b>Connaissance</b></td>
        </tr>
        <tr>
          <td>Angular(2 à 20)</td>
          <td><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>ReactJS</td>
          <td><clr-progress-bar clrValue="80" clrMax="100"></clr-progress-bar></td>
          <td><b>Expert</b></td>
        </tr>
        <tr>
          <td>JQuery</td>
          <td><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>AspNet</td>
          <td><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>Blazor</td>
          <td><clr-progress-bar clrValue="80" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>VueJS</td>
          <td><clr-progress-bar clrColor="danger" clrValue="10" clrMax="100"></clr-progress-bar></td>
          <td><b>Notion</b></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12 clr-col-12">
    <div class="card">
      <div class="card-header">Backoffice Web</div>

      <table class="table table-noborder">
        <tbody>
        <tr>
          <td>Dotnet WebApi</td>
          <td class="skills-level"><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>Java servlet (tomcat)</td>
          <td><clr-progress-bar clrColor="warning" clrValue="50" clrMax="100"></clr-progress-bar></td>
          <td><b>Connaissance</b></td>
        </tr>
        <tr>
          <td>Spring Boot</td>
          <td><clr-progress-bar clrColor="danger" clrValue="10" clrMax="100"></clr-progress-bar></td>
          <td><b>Notion</b></td>
        </tr>
        <tr>
          <td>Laravel</td>
          <td><clr-progress-bar clrColor="danger" clrValue="10" clrMax="100"></clr-progress-bar></td>
          <td><b>Notion</b></td>
        </tr>
        <tr>
          <td>Nodejs</td>
          <td><clr-progress-bar clrValue="80" clrMax="100"></clr-progress-bar></td>
          <td><b>Expert</b></td>
        </tr>
        <tr>
          <td>ExpressJs (nodejs)</td>
          <td><clr-progress-bar clrValue="80" clrMax="100"></clr-progress-bar></td>
          <td><b>Expert</b></td>
        </tr>
        <tr>
          <td>Fastify (nodejs)</td>
          <td><clr-progress-bar clrColor="warning" clrValue="50" clrMax="100"></clr-progress-bar></td>
          <td><b>Connaissance</b></td>
        </tr>
        <tr>
          <td>NestJs (nodejs)</td>
          <td><clr-progress-bar clrValue="80" clrMax="100" ></clr-progress-bar></td>
          <td><b>Expert</b></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12 clr-col-12">
    <div class="card">
      <div class="card-header">Base de données</div>

      <table class="table table-noborder">
        <tbody>
        <tr>
          <td>Sql Server</td>
          <td class="skills-level"><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>MySql</td>
          <td><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>Redis (no sql)</td>
          <td><clr-progress-bar clrValue="80" clrMax="100"></clr-progress-bar></td>
          <td><b>Expert</b></td>
        </tr>
        <tr>
          <td>MongoDB (no sql)</td>
          <td><clr-progress-bar clrColor="warning" clrValue="50" clrMax="100"></clr-progress-bar></td>
          <td><b>Connaissance</b></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12 clr-col-12">
    <div class="card">
      <div class="card-header">Mobile</div>

      <table class="table table-noborder">
        <tbody>
        <tr>
          <td>Ionic Framework (Angular)</td>
          <td class="skills-level"><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>ReactNative (Expo)</td>
          <td><clr-progress-bar clrValue="80" clrMax="100"></clr-progress-bar></td>
          <td><b>Expert</b></td>
        </tr>
        <tr>
          <td>Flutter</td>
          <td><clr-progress-bar clrValue="80" clrMax="100"></clr-progress-bar></td>
          <td><b>Expert</b></td>
        </tr>
        <tr>
          <td>Maui</td>
          <td><clr-progress-bar clrColor="warning" clrValue="50" clrMax="100"></clr-progress-bar></td>
          <td><b>Connaissance</b></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12 clr-col-12">
    <div class="card">
      <div class="card-header">Infrastructure</div>

      <table class="table table-noborder">
        <tbody>
        <tr>
          <td>Windows</td>
          <td class="skills-level"><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>Linux (Debian, Mint)</td>
          <td><clr-progress-bar clrValue="80" clrMax="100"></clr-progress-bar></td>
          <td><b>Expert</b></td>
        </tr>
        <tr>
          <td>WebApi</td>
          <td><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>Microservices</td>
          <td><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>Kubernetes</td>
          <td><clr-progress-bar clrColor="warning" clrValue="50" clrMax="100"></clr-progress-bar></td>
          <td><b>Connaissance</b></td>
        </tr>
        <tr>
          <td>Batchs</td>
          <td><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12 clr-col-12">
    <div class="card">
      <div class="card-header">Agilité</div>

      <table class="table table-noborder">
        <tbody>
        <tr>
          <td>Scrum</td>
          <td class="skills-level"><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        <tr>
          <td>Kamban</td>
          <td><clr-progress-bar clrColor="success" clrValue="100" clrMax="100"></clr-progress-bar></td>
          <td><b>Maitrise</b></td>
        </tr>
        </tbody>
      </table></div></div>
</div>
