<div class="clr-row">
  <div class="clr-offset-lg-1 clr-col-lg-5 clr-col-md-8 clr-col-12">
    <div class="card">
      <div class="card-header">Mes coordonnées</div>
      <div class="card-block">
        <div class="card-title">Mr BLANQUET Laurent</div>
        <div class="card-text">
          <p cds-text="body">5 Rue Jean Lelait</p>
          <p cds-text="body">27370 La Harengère</p>
          <p>&nbsp;</p>
          <p cds-text="body medium expanded">Tel : 06 26 14 48 89</p>
          <p cds-text="body standard medium">Mail : <a href="mailto:blanquetlaurent.harengere@gmail.com">blanquetlaurent.harengere&#64;gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
