<clr-main-container>
  <clr-header class="header header-3">
    <div class="branding">
      <a class="nav-link">
        <cds-icon shape="form"></cds-icon>
        <span class="title">CV BLANQUET Laurent - Développeur full stack/Conception logiciel</span>
      </a>
    </div>
  </clr-header>
    <div class="content-container">
      <clr-vertical-nav [clr-nav-level]="1" [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="false">
        <a clrVerticalNavLink routerLink="./presentation" routerLinkActive="active">
          <cds-icon clrVerticalNavIcon shape="user"></cds-icon>
          Présentation
        </a>
        <div class="nav-divider"></div>
        <a clrVerticalNavLink routerLink="./experiences" routerLinkActive="active">
          <cds-icon clrVerticalNavIcon shape="briefcase"></cds-icon>
          Mes expériences
        </a>
        <a clrVerticalNavLink routerLink="./skills" routerLinkActive="active">
          <cds-icon clrVerticalNavIcon shape="organization"></cds-icon>
          Mes savoirs-faire
        </a>
        <a clrVerticalNavLink routerLink="./being" routerLinkActive="active">
          <cds-icon clrVerticalNavIcon shape="announcement"></cds-icon>
          Mes savoirs-être
        </a>
      </clr-vertical-nav>
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </div>
</clr-main-container>
