<clr-main-container>
  <clr-header class="header header-3">
    <div class="branding">
      <a class="nav-link">
        <cds-icon shape="form"></cds-icon>
        <span class="title">BLANQUET Laurent - Curriculum Vitae</span>
      </a>
    </div>
    <div class="header-nav">
      <a [routerLink]="['home']" class="nav-link nav-text active">Présentation</a>
      <a href="javascript://" class="nav-link nav-text">Mes expériences</a>
      <a href="javascript://" class="nav-link nav-text">Mes savoirs-faire</a>
      <a href="javascript://" class="nav-link nav-text">Mes savoirs-être</a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
          blanquetlaurent.harengere&#64;gmail.com
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a [routerLink]="['contact-details']" clrDropdownItem>Mes coordonnées</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <a href="javascript://" class="nav-link">
        <cds-icon shape="cog"></cds-icon>
      </a>
    </div>
  </clr-header>
  <router-outlet />
</clr-main-container>
