.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
  color: navy;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
