
<span cds-text="display">Développeur full stack/Conception logiciel</span>
<br/>
<div class="clr-row">
  <div class="clr-col-xl-3 clr-col-lg-3 clr-col-md-12 clr-col-sm-12 text-center">
    <img src="images/me.jpg" width="80%">
  </div>
  <div class="clr-col-xl-9 clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <span cds-text="title">Moi en quelques mots</span>
    <br>
    <p cds-text="message">
      Je m'appelle <b>Laurent BLANQUET</b>, j'ai {{ age }} ans, marié avec 3 enfants.<br>J'ai obtenu un diplôme <b>DUT GEII (BAC + 2)</b> en 2001 et je pratique le développement informatique depuis.<br>Rigoureux et consciencieux dans ce que j'entreprends, je cultive le plaisir du travail bien fait. J'ai un bon relationnel et j'aime autant travailler en équipe que seul.<br>Je suis toujours à la recherche de nouveaux défis, je veux continuer à apprendre de nouvelles choses, travailler dans de nouveaux domaines.
    </p>

    <br>
    <span cds-text="title">Mon profil</span>
    <br>
    <p cds-text="message"><b>Développeur web sénior</b> pouvant concevoir et
      développer autant du backoffice (webapi, microservice,
      application mvc) que du frontoffice et des spas (razor,
      html, angular, react).</p>

  </div>
</div>
