
<span cds-text="display">{{ $store.presentation()?.title }}</span>
<br/>
<div class="clr-row">
  <div class="clr-col-xl-3 clr-col-lg-3 clr-col-md-12 clr-col-sm-12 text-center">
    <img src="images/me.jpg" width="90%">
  </div>
  <div class="clr-col-xl-9 clr-col-lg-9 clr-col-md-12 clr-col-sm-12">

    @if($store.presentation() && $store.presentation()!.description) {
    <div class="card">
      <div class="card-header">Moi en quelques mots</div>
      <div class="card-block">
        <div class="card-text">
          <p cds-text="message" [innerHTML]="$store.presentation()!.description.replace('age', age)"></p>
        </div>
      </div>
    </div>
    }

    @if($store.presentation() && $store.presentation()!.profil) {
    <div class="card">
      <div class="card-header">Mon profil</div>
      <div class="card-block">
        <div class="card-text">
          <p cds-text="message" [innerHTML]="$store.presentation()!.profil"></p>
        </div>
      </div>
    </div>
    }
  </div>
</div>

@if($store.presentation() && $store.presentation()!.address) {
<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-12">
    <div class="card">
      <div class="card-header">Mes coordonnées</div>
      <div class="card-block">
        <div class="card-title">{{ $store.presentation()!.address!.name }}</div>
        <div class="card-text">
          <p cds-text="body">{{ $store.presentation()!.address!.street }}</p>
          <p cds-text="body">{{ $store.presentation()!.address!.city }}</p>
          <p>&nbsp;</p>
          <p cds-text="body medium expanded">{{ $store.presentation()!.address!.telephone }}</p>
          <p cds-text="body standard medium">Mail : <a [href]="'mailto:' + $store.presentation()!.address!.email">{{ $store.presentation()!.address!.email }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
}

