<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-12">
    <div class="card">
      <div class="card-header clickable" (click)="navigateTo('https://www.matmut.fr/')">Matmut</div>

      <div class="card-block">
        <div class="card-media-block wrap">
          <div class="card-media-description">
            <span class="card-title">Concepteur développeur</span>
            <span class="card-media-text">De 2012 à maintenant</span>
          </div>

          <div class="alert alert-info alert-sm">
            <div class="alert-items">
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <cds-icon shape="exclamation-circle"></cds-icon>
                </div>
                <span class="alert-text">Poste actuellement occupé.</span>
              </div>
            </div>
          </div>

        </div>

        <div class="card-text">
          Conceptions, analyses et développements sur des
          applications internets et intranets de gestion ( Santé,
          production, sinistre).
        </div>

        <span class="label label-info clickable">.Net</span>
        <span class="label label-success clickable">Sql Server</span>
        <span class="label label-warning clickable">Kubernetes</span>
        <span class="label label-danger clickable">Docker</span>
        <span class="label label-info clickable">AspNet MVC</span>
        <span class="label label-success clickable">JQuery</span>

      </div>
    </div>
  </div>

  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-12">
    <div class="card">
      <div class="card-header clickable" (click)="navigateTo('https://fr.wikipedia.org/wiki/Neo_Security')">NeoSecurity</div>
      <div class="card-block">
        <div class="card-media-block wrap">
          <div class="card-media-description">
            <span class="card-title">Développeur backoffice & web</span>
            <span class="card-media-text">De 2011 à 2012</span>
          </div>
        </div>

        <div class="card-text">
          Conceptions, analyses et développement sur des
          applications intranet de gestion (contrats, relance de
          facture).
        </div>

        <span class="label label-info clickable">.Net framework</span>
        <span class="label label-success clickable">Sql Server</span>
        <span class="label label-warning clickable">AspNet MVC</span>
        <span class="label label-danger clickable">JQuery</span>
        <span class="label label-info clickable">VB6</span>
        <span class="label label-success clickable">JavaEE</span>
        <span class="label label-warning clickable">Crystal Report</span>
        <span class="label label-danger clickable">ExtJs</span>

      </div>
    </div>
  </div>

  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-12">
    <div class="card">
      <div class="card-header clickable" (click)="navigateTo('https://www.masternaut.com/fr/')">Masternaut</div>
      <div class="card-block">
        <div class="card-media-block wrap">
          <div class="card-media-description">
            <span class="card-title">Développeur backoffice</span>
            <span class="card-media-text">De 2007 à 2011</span>
          </div>
        </div>

        <div class="card-text">
          Analyses et développements des reportings client
          (excel, word, pdf, graphiques).
        </div>

        <span class="label label-info clickable">.Net Framework</span>
        <span class="label label-success clickable">MySql</span>
        <span class="label label-warning clickable">Webform</span>
        <span class="label label-danger clickable">Winform</span>
        <span class="label label-info clickable">VB6</span>
        <span class="label label-success clickable">JavaEE</span>
        <span class="label label-warning clickable">Jasper Report</span>
        <span class="label label-danger clickable">JBoss</span>
        <span class="label label-info clickable">Linux</span>

      </div>
    </div>
  </div>

  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-12">
    <div class="card">
      <div class="card-header clickable" (click)="navigateTo('https://astera.coop/qui-sommes-nous/les-societes-du-groupe/isipharm-leo/')">Isipharm</div>
      <div class="card-block">
        <div class="card-media-block wrap">
          <div class="card-media-description">
            <span class="card-title">Hotliner & développeur outils internes</span>
            <span class="card-media-text">De 2002 à 2007</span>
          </div>
        </div>

        <div class="card-text">
          Maintenance et dépannage téléphonique de
          l’informatique dans les pharmacies.
          Développement d'outils de gestion de prise d'appel.
        </div>

        <span class="label label-info clickable">.Net Framework</span>
        <span class="label label-danger clickable">Winform</span>
        <span class="label label-info clickable">VB6</span>

      </div>
    </div>
  </div>

</div>
